{
    "printWidth": 100,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.html", "*.css", "*.js", "*.ts", "*.json"],
            "options": { "tabWidth": 2 }
        }
    ]
}
